# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

schematics/project/ice_wheel-backups/
schematics/project/fp-info-cache
schematics/project/ice_wheel.kicad_prl
schematics/project/#auto_saved_files#
schematics/project/libraries/BT_Module/
schematics/project/libraries/3dModels/

*/.ipynb_checkpoints/*
